#contexts_nav {
  position:fixed;
  background-color: #f7f7f7;
  height: 100%;
  padding-right: 0px;
}

#contexts_nav .layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  border-right: 1px solid #DFDFDF;
  z-index:-1
}

#contexts_nav table th {
  padding-left: 15px;
}

#contexts_tbody tr {
  border-right: 1px solid #DFDFDF;
}

#contexts_tbody tr.hovered {
  background-color:#FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #DDD;
}
#contexts_tbody tr:hover {
  background-color:#FFF;
  border-right: 1px solid #FFF;
}

#contexts-detail-view {
  float: right;
  padding-top: 10px;
  padding-right: 0px;
}

#contexts-detail-view .row {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  visibility: hidden;
}

#rpdrngs, #rrpdrngs { margin-left: 15px; }

#reqpct-chart {
  height: 320px;
}

.data-right .dataTables_wrapper {
  min-height: 320px;
}
