* { font-family: 'Open Sans', sans-serif; }
html, body { height: 100%; }
#tabs { padding-top: 10px; position: fixed; z-index: 999; background-color: #FFF; }
.pre-rhino { border: 0; background-color: transparent; text-align: center; }
.pre-rhino pre { border: 0; background-color: transparent; display: inline-block; text-align: left; padding-top: 150px; }
.rhino-1, .rhino-2 { display: none; }
#placeholder { display: none; margin-top: 41px; margin-left: -15px; }
.table-bordered-clear-right { border-right: 0px }
.clear-padl { padding-left: 0px; }
.clear-padr { padding-right: 0px; }

.c3graph { height: 300px; }

.well-dbcard hr {
  border-top: 1px solid #d3d3d3;
}

.well-dbcard {
  padding-left: 5px;
  padding-right: 5px;
}

.well-dbcard .well {
  padding: 0;
}

.well-dbcard .caption {
  color: #AAA;
}

.well-dbcard .content {
  color: #595959;
  padding-left: 10px;
  padding-right: 10px;
}

.well-dbcard .dt-bootstrap .row > div {
  padding-left: 0px;
  padding-right: 0px;
}

span.pricetag {
  font-size: 14px;
}
