.c3graph { height: 300px; }

.submodule.col-md-12 {
  padding-right: 0;
}

.well-dbcard hr {
  border-top: 1px solid #d3d3d3;
}

.well-dbcard {
  padding-left: 5px;
  padding-right: 5px;
}

.well-dbcard .well {
  padding: 0;
}

.well-dbcard .caption {
  color: #AAA;
}

.well-dbcard .content {
  color: #595959;
  padding-left: 10px;
  padding-right: 10px;
}

.well-dbcard .dt-bootstrap .row > div {
  padding-left: 0px;
  padding-right: 0px;
}

span.pricetag {
  font-size: 14px;
}
